.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}

.card {
  padding: 2em;
}

.shopping-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid #ccc;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.product-card {
  font-size: 14px;
  position: relative;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px #0000001a;
  cursor: pointer;
  transition: box-shadow 0.3s ease, background-color 0.3s ease;
}

.product-card p {
  font-size: 12px;
  margin-bottom: 30px;
}
.product-card:hover:not(.selected) {
  background-color: #eee;
  box-shadow: 0 4px 8px #0000001a;
}

.selected {
  background-color: #444;
  color: #fff;
  box-shadow: 0 4px 8px #0000001a;
}

h2 {
  text-align: center;
}

.product-card h3 {
  font-size: 14px;
}

.product-card p:last-of-type {
  font-weight: bolder;
}
